*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eee;
}

nav {
  width: 100%;
  background-color: #fff;
  height: 100px
}

ul{
    padding: 1px;
}

ul li {
   list-style: none;
   display: inline-block;
   float: left;
   line-height: 100px;
}

ul li a {
    text-decoration: none;
    font-size: 8;
    color: #1e1e1e;
    padding: 0 20px;
} 

ul li a:hover {
  color: rgb(153, 153, 255);
} 

form {
  padding-top: 20px;
  text-align: center;
  font-size: large;
}

h1 {
  text-align: center;
  padding-top: 5px;
  font-size: 60px;
}

h2 {
  padding-top: 10px;
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.BookCovers {
  text-align: center;
}